<!-- todo: thisw looks too similar to normal flights overview -->
<c-row>
  <c-col md="12" lg="12" xl="12">
    <c-widget-stat-d
      class="mb-4"
      color="secondary"
      [values]="flightDisplayValues"
    >
      <span class="text-white"> {{ flight?.flightNo }}</span>
    </c-widget-stat-d>
  </c-col>
</c-row>

<c-row>
  <c-col>
    <h4>Shipments on this Flight:</h4>
  </c-col>
</c-row>

<c-row>
  <c-col
    *ngFor="let shipment of shipmentsDisplayValues; index as i"
    md="12"
    lg="6"
    xl="6"
  >
    <c-widget-stat-d
      [values]="shipment.values"
      class="mb-4"
      (click)="navigateToShipmentDetail(shipment)"
      [color]="shipment.color"
    >
      <span class="text-white"> AWB {{ shipment.awb }}</span>
    </c-widget-stat-d>
  </c-col>
</c-row>
