{
  "openapi" : "3.0.1",
  "info" : {
    "contact" : {
      "email" : "team@reelables.com"
    },
    "description" : "RESTful API for communicating with the Reelables Platform.",
    "title" : "Reelables API",
    "version" : "1.2.7"
  },
  "servers" : [ {
    "description" : "The production URL for sending requests to the Reelables API.",
    "url" : "https://api.reelables.com/{basePath}",
    "variables" : {
      "basePath" : {
        "default" : "v1"
      }
    }
  } ],
  "security" : [ {
    "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
  } ],
  "paths" : {
    "/assets/{assetId}" : {
      "delete" : {
        "parameters" : [ {
          "description" : "The identifier of the Asset",
          "explode" : false,
          "in" : "path",
          "name" : "assetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "204 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Asset not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Delete an Asset",
        "tags" : [ "Assets" ]
      },
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Asset",
          "explode" : false,
          "in" : "path",
          "name" : "assetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Asset"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Asset not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get an Asset",
        "tags" : [ "Assets" ]
      },
      "put" : {
        "parameters" : [ {
          "description" : "The identifier of the Asset",
          "explode" : false,
          "in" : "path",
          "name" : "assetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssetInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Asset"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Asset not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Update an Asset",
        "tags" : [ "Assets" ]
      }
    },
    "/workspaces/{workspaceId}/print-templates" : {
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspacePrintTemplates"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get Print Templates in a Workspace",
        "tags" : [ "Workspace Print Templates" ]
      }
    },
    "/printers/{printerId}/print-jobs" : {
      "get" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Printer",
          "explode" : false,
          "in" : "path",
          "name" : "printerId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of Print Jobs to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of Print Jobs",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrintJobs"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Printer not found in workspace"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get Print Jobs for a Printer",
        "tags" : [ "Print Jobs" ]
      },
      "post" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Printer",
          "explode" : false,
          "in" : "path",
          "name" : "printerId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PrintJobsInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrintJobs"
                }
              }
            },
            "description" : "201 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Printer not found in workspace"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Send Print Jobs to a Printer",
        "tags" : [ "Print Jobs" ]
      }
    },
    "/assets/{assetId}/spaces" : {
      "get" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of records to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of records",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The identifier of the Asset",
          "explode" : false,
          "in" : "path",
          "name" : "assetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetInSpaces"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Asset not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get Space history for an Asset",
        "tags" : [ "Asset Spaces" ]
      }
    },
    "/spaces/{spaceId}" : {
      "delete" : {
        "parameters" : [ {
          "description" : "The identifier of the Space",
          "explode" : false,
          "in" : "path",
          "name" : "spaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "204 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Space not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Delete a Space",
        "tags" : [ "Spaces" ]
      },
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Space",
          "explode" : false,
          "in" : "path",
          "name" : "spaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Space"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Space not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get a Space",
        "tags" : [ "Spaces" ]
      },
      "put" : {
        "parameters" : [ {
          "description" : "The identifier of the Space",
          "explode" : false,
          "in" : "path",
          "name" : "spaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SpaceInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Space"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Space not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Update a Space",
        "tags" : [ "Spaces" ]
      }
    },
    "/facilities/{facilityId}/asset-groups" : {
      "get" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of Asset Groups to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of Asset Groups",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The identifier of the Facility",
          "explode" : false,
          "in" : "path",
          "name" : "facilityId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacilityAssetGroups"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get Asset Groups in a Facility",
        "tags" : [ "Facility Asset Groups" ]
      }
    },
    "/spaces/{spaceId}/assets" : {
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Space",
          "explode" : false,
          "in" : "path",
          "name" : "spaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of records to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of records",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetInSpaces"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Space not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get Asset history for a Space",
        "tags" : [ "Space Assets" ]
      }
    },
    "/workspaces/{workspaceId}" : {
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Workspaces"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Workspace not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get a Workspace",
        "tags" : [ "Workspaces" ]
      }
    },
    "/facilities/{facilityId}" : {
      "get" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Facility",
          "explode" : false,
          "in" : "path",
          "name" : "facilityId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Facility"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Facility not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get a Facility",
        "tags" : [ "Facilities" ]
      }
    },
    "/workspaces/{workspaceId}/spaces" : {
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of Spaces to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of Spaces",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "String to match name of Spaces",
          "explode" : true,
          "in" : "query",
          "name" : "searchTerm",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceSpaces"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "List spaces in a Workspace",
        "tags" : [ "Workspace Spaces" ]
      },
      "post" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkspaceSpacesInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceSpaces"
                }
              }
            },
            "description" : "201 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Create new Spaces in Workspace",
        "tags" : [ "Workspace Spaces" ]
      }
    },
    "/workspaces" : {
      "get" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of Workspaces to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of Workspaces",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Workspaces"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Workspace not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "List available Workspaces",
        "tags" : [ "Workspaces" ]
      }
    },
    "/workspaces/{workspaceId}/printers" : {
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of Printers to return. Default: 100. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of Printers",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspacePrinters"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "List Printers in a Workspace",
        "tags" : [ "Workspace Printers" ]
      }
    },
    "/spaces/{spaceId}/gateways" : {
      "post" : {
        "parameters" : [ {
          "description" : "The identifier of the Space",
          "explode" : false,
          "in" : "path",
          "name" : "spaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SpaceGatewayInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Space"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Space not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Link a Gateway to a Space",
        "tags" : [ "Space Gateways" ]
      }
    },
    "/workspaces/{workspaceId}/consignments" : {
      "patch" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The tracking reference that identifies the Consignment in the user system",
          "explode" : true,
          "in" : "query",
          "name" : "trackingRef",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PatchConsignmentInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Consignment"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Consignment not found in Workspace"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Update a Consignment using a Tracking Reference",
        "tags" : [ "Workspace Consignments" ]
      },
      "post" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkspaceConsignmentsInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceConsignments"
                }
              }
            },
            "description" : "201 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Create new Consignment in Workspace",
        "tags" : [ "Workspace Consignments" ]
      }
    },
    "/assets/{assetId}/labels" : {
      "post" : {
        "parameters" : [ {
          "description" : "The identifier of the Asset",
          "explode" : false,
          "in" : "path",
          "name" : "assetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssetLabelInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Asset"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Asset not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Link a Label to an Asset",
        "tags" : [ "Asset Labels" ]
      }
    },
    "/workspaces/{workspaceId}/assets" : {
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of Assets to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of Assets",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "String to match name of Assets",
          "explode" : true,
          "in" : "query",
          "name" : "searchTerm",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter the Assets to those currently in a set of Spaces. Comma-separated list, for example: '?inSpaceIds={spaceId1},{spaceId2},{spaceId3}'",
          "explode" : true,
          "in" : "query",
          "name" : "inSpaceIds",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceAssets"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "List Assets in a Workspace",
        "tags" : [ "Workspace Assets" ]
      },
      "post" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkspaceAssetsInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceAssets"
                }
              }
            },
            "description" : "201 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Create new Assets in Workspace",
        "tags" : [ "Workspace Assets" ]
      }
    },
    "/spaces/{spaceId}/gateways/{gatewayId}" : {
      "delete" : {
        "parameters" : [ {
          "description" : "The identifier of the Space",
          "explode" : false,
          "in" : "path",
          "name" : "spaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Gateway",
          "explode" : false,
          "in" : "path",
          "name" : "gatewayId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Space"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Space not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Unlink a Gateway from a Space",
        "tags" : [ "Space Gateways" ]
      },
      "put" : {
        "parameters" : [ {
          "description" : "The identifier of the Space",
          "explode" : false,
          "in" : "path",
          "name" : "spaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Gateway",
          "explode" : false,
          "in" : "path",
          "name" : "gatewayId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GatewayInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpaceGateway"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Space or Gateway not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Update a Gateway",
        "tags" : [ "Space Gateways" ]
      }
    },
    "/workspaces/{workspaceId}/printers/{printerId}" : {
      "delete" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Printer",
          "explode" : false,
          "in" : "path",
          "name" : "printerId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "204 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Printer not found in workspace"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Remove a Printer from a Workspace",
        "tags" : [ "Workspace Printers" ]
      },
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Printer",
          "explode" : false,
          "in" : "path",
          "name" : "printerId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspacePrinter"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Printer not found in workspace"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get a Printer",
        "tags" : [ "Workspace Printers" ]
      },
      "put" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Printer",
          "explode" : false,
          "in" : "path",
          "name" : "printerId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WorkspacePrinterInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspacePrinter"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Printer not found in workspace"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Update a Printer",
        "tags" : [ "Workspace Printers" ]
      }
    },
    "/assets/{assetId}/labels/{bleId}" : {
      "delete" : {
        "parameters" : [ {
          "description" : "The identifier of the Asset",
          "explode" : false,
          "in" : "path",
          "name" : "assetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Label",
          "explode" : false,
          "in" : "path",
          "name" : "bleId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Asset"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Asset not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Unlink a Label from an Asset",
        "tags" : [ "Asset Labels" ]
      }
    },
    "/print-jobs/{printJobId}/statuses" : {
      "get" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Print Job",
          "explode" : false,
          "in" : "path",
          "name" : "printJobId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of statuses to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of statuses",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrintJobStatuses"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Printer or Print Job not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get statuses for a Print Job",
        "tags" : [ "Print Job Statuses" ]
      }
    },
    "/assets/{assetId}/temperatures" : {
      "get" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of temperatures to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of temperatures",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The identifier of the Asset",
          "explode" : false,
          "in" : "path",
          "name" : "assetId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetTemperatures"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Asset not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get temperature history for an Asset",
        "tags" : [ "Asset Temperatures" ]
      }
    },
    "/print-jobs/{printJobId}" : {
      "delete" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Print Job",
          "explode" : false,
          "in" : "path",
          "name" : "printJobId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "content" : { },
            "description" : "204 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Printer or Print Job not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Cancel a Print Job",
        "tags" : [ "Print Jobs" ]
      },
      "get" : {
        "parameters" : [ {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "The identifier of the Print Job",
          "explode" : false,
          "in" : "path",
          "name" : "printJobId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrintJob"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Printer or Print Job not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "Get a Print Job",
        "tags" : [ "Print Jobs" ]
      }
    },
    "/workspaces/{workspaceId}/facilities" : {
      "get" : {
        "parameters" : [ {
          "description" : "The identifier of the Workspace",
          "explode" : false,
          "in" : "path",
          "name" : "workspaceId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00",
          "explode" : false,
          "in" : "header",
          "name" : "request-id",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of Facilities to return. Default: 10. Maximum: 10000",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pagination token to get next page of Facilities",
          "explode" : true,
          "in" : "query",
          "name" : "nextToken",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceFacilities"
                }
              }
            },
            "description" : "200 response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "security" : [ {
          "AuthEndpoint" : [ "https://auth.reelables.com/full-access" ]
        } ],
        "summary" : "List Facilities in a Workspace",
        "tags" : [ "Workspace Facilities" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "WorkspaceAssetsInput" : {
        "additionalProperties" : false,
        "description" : "Assets to create in the Workspace",
        "example" : {
          "assets" : [ {
            "name" : "name",
            "nfcId" : "nfcId"
          }, {
            "name" : "name",
            "nfcId" : "nfcId"
          }, {
            "name" : "name",
            "nfcId" : "nfcId"
          }, {
            "name" : "name",
            "nfcId" : "nfcId"
          }, {
            "name" : "name",
            "nfcId" : "nfcId"
          } ]
        },
        "properties" : {
          "assets" : {
            "items" : {
              "$ref" : "#/components/schemas/WorkspaceAssetsInput_assets_inner"
            },
            "maxItems" : 1000,
            "type" : "array"
          }
        },
        "required" : [ "assets" ],
        "type" : "object"
      },
      "Temperature" : {
        "additionalProperties" : false,
        "example" : {
          "degreesCelcius" : -51.95031,
          "timestamp" : "2000-01-23T04:56:07.000+00:00",
          "numberReadings" : 602745
        },
        "properties" : {
          "degreesCelcius" : {
            "description" : "Temperature value rounded to 1 decimal place, for each minute of the hour. Example: -2.1",
            "format" : "float",
            "maximum" : 500,
            "minimum" : -100,
            "type" : "number"
          },
          "timestamp" : {
            "description" : "Timestamp of the temperature. Example: '2019-07-21T17:32:28Z'",
            "format" : "date-time",
            "maxLength" : 20,
            "pattern" : "^[0-9TZ:-]*$",
            "type" : "string"
          },
          "numberReadings" : {
            "description" : "The number of readings that were used to evaluate the temperature value",
            "format" : "int32",
            "maximum" : 1000000,
            "minimum" : 0,
            "type" : "integer"
          }
        },
        "required" : [ "degreesCelcius", "timestamp" ],
        "type" : "object"
      },
      "AssetInSpaces" : {
        "additionalProperties" : false,
        "description" : "Asset in Spaces",
        "example" : {
          "nextToken" : "nextToken",
          "items" : [ {
            "spaceName" : "spaceName",
            "spaceId" : "spaceId",
            "hasExited" : true,
            "enteredOn" : "2000-01-23T04:56:07.000+00:00",
            "exitedOn" : "2000-01-23T04:56:07.000+00:00"
          }, {
            "spaceName" : "spaceName",
            "spaceId" : "spaceId",
            "hasExited" : true,
            "enteredOn" : "2000-01-23T04:56:07.000+00:00",
            "exitedOn" : "2000-01-23T04:56:07.000+00:00"
          }, {
            "spaceName" : "spaceName",
            "spaceId" : "spaceId",
            "hasExited" : true,
            "enteredOn" : "2000-01-23T04:56:07.000+00:00",
            "exitedOn" : "2000-01-23T04:56:07.000+00:00"
          }, {
            "spaceName" : "spaceName",
            "spaceId" : "spaceId",
            "hasExited" : true,
            "enteredOn" : "2000-01-23T04:56:07.000+00:00",
            "exitedOn" : "2000-01-23T04:56:07.000+00:00"
          }, {
            "spaceName" : "spaceName",
            "spaceId" : "spaceId",
            "hasExited" : true,
            "enteredOn" : "2000-01-23T04:56:07.000+00:00",
            "exitedOn" : "2000-01-23T04:56:07.000+00:00"
          } ]
        },
        "properties" : {
          "nextToken" : {
            "description" : "Pagination token",
            "maxLength" : 5000,
            "pattern" : "^[a-zA-Z0-9!@#$&()\\-`.+,/\"]*$",
            "type" : "string"
          },
          "items" : {
            "items" : {
              "$ref" : "#/components/schemas/AssetInSpace"
            },
            "maxItems" : 10000,
            "type" : "array"
          }
        },
        "required" : [ "items" ],
        "type" : "object"
      },
      "SpaceGateway" : {
        "additionalProperties" : false,
        "example" : {
          "isStatic" : true,
          "latitude" : 18.494211,
          "hasPendingCommands" : true,
          "rssiFilter" : "FAR",
          "gatewayId" : "gatewayId",
          "addedOn" : "2000-01-23T04:56:07.000+00:00",
          "longitude" : -127.230736
        },
        "properties" : {
          "isStatic" : {
            "description" : "Indicate whether the Gateway is statically located",
            "type" : "boolean"
          },
          "latitude" : {
            "description" : "Latitude value of the coordinate. Example: 51.123",
            "format" : "float",
            "maximum" : 90,
            "minimum" : -90,
            "type" : "number"
          },
          "hasPendingCommands" : {
            "description" : "Indicate whether there are pending commands for the Gateway",
            "type" : "boolean"
          },
          "rssiFilter" : {
            "$ref" : "#/components/schemas/SpaceGateway_rssiFilter"
          },
          "gatewayId" : {
            "description" : "Gateway identifier. Example: 'e00fce315222e588e1d7482b'",
            "maxLength" : 50,
            "pattern" : "^[-_A-Za-z0-9]*$",
            "type" : "string"
          },
          "addedOn" : {
            "description" : "Date that the Gateway was linked to the Space, in UTC. Example: '2019-07-21T17:32:28Z'",
            "format" : "date-time",
            "maxLength" : 20,
            "pattern" : "^[0-9TZ:-]*$",
            "type" : "string"
          },
          "longitude" : {
            "description" : "Longitude value of the coordinate. Example: -0.123",
            "format" : "float",
            "maximum" : 180,
            "minimum" : -180,
            "type" : "number"
          }
        },
        "required" : [ "addedOn", "gatewayId" ],
        "type" : "object"
      },
      "WorkspaceSpaces" : {
        "additionalProperties" : false,
        "description" : "Spaces in the Workspace",
        "example" : {
          "total" : 602745,
          "nextToken" : "nextToken",
          "items" : [ {
            "numberAssetsInSpace" : 80082,
            "name" : "name",
            "locations" : {
              "nextToken" : "nextToken",
              "items" : [ {
                "coordinate" : {
                  "latitude" : -63.615368,
                  "longitude" : 34.63682
                },
                "error" : 563737,
                "timestamp" : "2000-01-23T04:56:07.000+00:00"
              }, {
                "coordinate" : {
                  "latitude" : -63.615368,
                  "longitude" : 34.63682
                },
                "error" : 563737,
                "timestamp" : "2000-01-23T04:56:07.000+00:00"
              }, {
                "coordinate" : {
                  "latitude" : -63.615368,
                  "longitude" : 34.63682
                },
                "error" : 563737,
                "timestamp" : "2000-01-23T04:56:07.000+00:00"
              }, {
                "coordinate" : {
                  "latitude" : -63.615368,
                  "longitude" : 34.63682
                },
                "error" : 563737,
                "timestamp" : "2000-01-23T04:56:07.000+00:00"
              }, {
                "coordinate" : {
                  "latitude" : -63.615368,
                  "longitude" : 34.63682
                },
                "error" : 563737,
                "timestamp" : "2000-01-23T04:56:07.000+00:00"
              } ]
            },
            "id" : "id",
            "createdOn" : "2000-01-23T04:56:07.000+00:00",
            "gateway" : {
              "isStatic" : true,
              "latitude" : 18.494211,
              "hasPendingCommands" : true,
              "rssiFilter" : "FAR",
              "gatewayId" : "gatewayId",
              "addedOn" : "2000-01-23T04:56:07.000+00:00",
              "longitude" : -127.230736
            },
            "workspaceId" : "046b6c7f-0b8a-43b9-b35d-6489e6daee91"
          }, {
            "numberAssetsInSpace" : 80082,
            "name" : "name",
            "locations" : {
              "nextToken" : "nextToken",
[...]
