<c-container>
  <c-row class="justify-content-md-center">
    <c-col lg="2"></c-col>
    <c-col>
      <div cListGroup>
        <button
          cListGroupItem
          class="d-flex justify-content-between align-items-center"
          color="danger"
          (click)="navigateToPage('alerts')"
        >
          There are 2 Shipments with Alerts!
          <c-badge color="danger" shape="rounded-pill">2</c-badge>
        </button>
      </div>
    </c-col>
    <c-col lg="2"></c-col>
  </c-row>

  <div style="margin: 30px"></div>

  <c-row>
    <c-col lg="2"></c-col>
    <c-col>
      <form cForm [formGroup]="searchForm" (ngSubmit)="getFilledOutFieldIds()">
        <!-- Shipment Number-->
        <div class="mb-3">
          <input
            cFormControl
            id="inputShipmentNo-1"
            type="text"
            placeholder="Shipment No."
            sizing="lg"
            formControlName="shipmentNo"
          />
        </div>

        <!-- Flight -->
        <c-input-group class="mb-3">
          <input
            cFormControl
            placeholder="Flight No."
            sizing="lg"
            formControlName="flight"
          />

          <input
            cFormControl
            placeholder="Date"
            sizing="lg"
            formControlName="date"
          />
          <span cInputGroupText> <svg [cIcon]="icons.cilCalendar"></svg></span>
        </c-input-group>

        <!-- Shipment Origin -->
        <div class="mb-3">
          <input
            cFormControl
            id="inputShipmentOrigin-1"
            type="text"
            placeholder="Origin"
            sizing="lg"
            formControlName="origin"
          />
        </div>

        <!-- Shipment Destination -->
        <div class="mb-3">
          <input
            cFormControl
            id="inputShipmentDestination-1"
            type="text"
            placeholder="Destination"
            sizing="lg"
            formControlName="destination"
          />
        </div>

        <!-- Piece ID -->
        <div class="mb-3">
          <input
            cFormControl
            id="inputShipmentDestination-1"
            type="text"
            placeholder="Piece ID"
            sizing="lg"
            formControlName="pieceId"
          />
        </div>

        <!--input cButton color="primary" type="submit" value="Search" /-->

        <div class="d-grid gap-2">
          <button cButton type="submit" color="primary">
            <ng-container *ngIf="!isLoading; else loading">
              Search <svg cIcon name="cilSearch" size="md" width="24"></svg>
            </ng-container>
          </button>
        </div>
      </form>
    </c-col>
    <c-col lg="2"></c-col>
  </c-row>

  <div style="padding-bottom: 25px"></div>
</c-container>

<c-row>
  <ng-container *ngIf="flight">
    <c-col md="12" lg="12" xl="12">
      <c-widget-stat-d
        [values]="flightDisplayValues.values"
        class="mb-4"
        (click)="navigateToFlightDetail('flight1234')"
        [color]="flightHasAlert ? 'danger' : 'success'"
      >
        <span class="text-white"> {{ flightDisplayValues.id }}</span>
      </c-widget-stat-d>
    </c-col>
  </ng-container>
</c-row>

<ng-template #loading>
  <c-row>
    <c-col>
      <c-spinner class="text-center" color="white" size="sm"></c-spinner>
    </c-col>
  </c-row>
</ng-template>
